@font-face {
    font-family: 'stay_classy_sldtregular';
    src: url('stay_classy_sldt-webfont.woff2') format('woff2'),
         url('stay_classy_sldt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

aside{
    float: left;
    background-color: rgb(199, 231, 218);
    width: 100%;
    height:100%;
    display: block;
    padding-top: 10px;
}
body{
    font-family: 'stay_classy_sldtregular';
    margin:0px;
    width:100%;
    height: 100%;
    font-style: italic;
    font-size: 16px;
 
}

.navigation{
    width: 100%; 
    height: 100%; 
    margin: 0;
    font-style: normal;
    z-index: 100; 
    position: relative; 
    background-color: #444444;
}
header{
    height: 100%;
    background-color:rgb(154, 240, 235);
    padding-bottom: 80px;
    padding-inline-end: 20px;
    display: flex;
    justify-content: center;
}
.menu{
width: 67%;
display:flex;
 height: 30%;
padding: 0px;
padding-right: 1px;
padding-left: 5px;

margin: 0px;
position: relative; 

}
.menu li {
  
    height: 50%;
    
  width: 100%;
    float: left; 
  
    border-radius: 4px;
    margin-top: 2%;
    text-align: center; 
    list-style: none;  
    font:normal;  
    padding: 0;
    border-left: 1px solid  rgb(54, 51, 51);
    border-right: 1px solid rgb(54, 51, 51);
    
    background-color:orange;
    }
.menu a{
        width: 100%;
        
        height: 50%;							
    padding: 20px ;  
   
    text-decoration: none; 
    justify-content: left;
    
    color:black; 
    display: block;
    }
     .menu li:hover, a:hover {
    background-color: rgb(223, 240, 147);
    }
    .menu li ul{
        width: 80%;
        height: 50%;
    display: none;
    height: auto;									
    margin: 0; 
    padding: 0; 
    }
    .menu li:hover ul{
    display: block;
    }
    .menu li ul li{
    background-color: rgb(173, 158, 158);
    margin-left: 25%;
    }
    .menu li ul li a{
        width: 100%;
        border-left: 2px solid white; 
        border-right: 2px solid white; 
  
        border-top: 2px solid #c9d4d8; 
        border-bottom: 1px solid #444444; 
        }
        .menu li ul li a:hover{
        background-color: rgb(243, 196, 196);
        }

h3{
    text-transform: uppercase;
    width:60%;
  font-size: 0.5em;
    text-align: center;
    padding-top: 30px;
   
}
h1{
    width: 50%;
}
h4{
    margin-left: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
}
strong {
   color: rgb(146, 146, 231);
   animation-direction: normal;
}
p{
    padding-left:40px;
    width: 50%;
    
}
.pic-main{
    width: auto;
    display: flex;
    box-shadow: 7px 6px 5px 4px gray;
    background-size: contain;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 10px;
    
}
#txt{
    background-color: rgb(247, 248, 237);
}
.img-inauguration{
    margin-left: 10px;
    position: center;
    
border-radius: 15px;
box-shadow:3px 5px 8px 2px rgb(214, 224, 228) ;
}

.img-formation{
    display: flex;
    box-shadow: 7px 6px 5px 4px rgb(144, 190, 196);
    border-radius: 5px;
    margin-left: 10px;
  
    width:350px;
    height: 270px;
}
main{
    display: flex;
    text-align: center;
    width: 100%;
    height: 100%;
    justify-content: center;
   
}

@keyframes monanimation {
    from {
        color: black;
    }
    to{
        color: rgb(241, 138, 54);
        transform: scale(1.1);

    }
}
p{
    animation: monanimation 1s;
    -webkit-animation:monanimation 1s infinite alternate;
    
}


footer{
    
    background-color: rgb(240, 235, 235);
    width: 100%;
    height: 100%;
  
    
}


.fab {
    padding: 30px;
    background: white;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}
.btn{
    float: right;
    width: 20%;
    margin-right: 0px;
    
}
form{
    height:100%;
    width: 50%;
    margin-left: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
    display: inline-grid;
}


button{
    width: 30%;
    margin-bottom: 50px;
}
#textarea{
margin-bottom: 30px;
}
.fr{
    background-color: none;
    width: 100%;
    height: 100%;
  
     
}
.input{

    display: flex;
    
} 
 
#logo{
    margin-top:5px;
    margin-bottom: 15px;
    margin-right: 20px;
    float:right;
    border-radius:;
    display: flex;
    height: 120px;
    width:120px;
}

@media screen and (min-width:340px) and (max-width: 740px) {
    

header{
    background-color: rgb(255, 255, 255);
    height: 100%;
    width:100%;
    display: flex;
    
   
}
body{
  display: block;  
}
main{
    width:100%;
    display: flex;
}
.navigation{
    width:100%;
}
#logo{
    width:100%
}
.menu{
    width:100%;
    height: 90%;
    border-color: black;
  
    display: block;
}
.menu li{
    width:100% ;
}

.pic-main{
width :70%;
height: 60%;
margin-top: 30px;

box-shadow: none;


}
p{
    width:100%;
}
h4, h3{
   font-size: 1em; 
   margin-left: 0px;
}
form{
    width: 80%;
    border-radius: 5px;
    display: inline-grid;
}
.btn{
    width: 70%;
}
.img-inauguration{
    width:70%;
}
.img-formation{
    width:90%;
}
}
@media screen and (min-width: 741px) and (max-width:1200px){
header{
    background-color: rgb(116, 117, 114);
}
.btn{
    width:50% ;
}
.menu{
    width:100%;
}
}